@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Стилі для index.html*/
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffffff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HEADER*/
.page-header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.adr-link {
  color: #212121;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: color 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 3250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr-link:hover, .adr-link:focus {
  color: #2196f3;
}

.adr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.adr-list .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.black {
  color: #2196f3;
}

.white {
  color: #ffffff;
}

.list {
  list-style: none;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  position: relative;
  display: block;
  color: #212121;
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover, .site-nav a:focus {
  color: #2196f3;
}

.site-nav .current {
  color: #2196f3;
}

.site-nav list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .item a.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: -32px;
}

.contacts {
  margin-left: auto;
}

.envelope-picture {
  fill: #212121;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-picture {
  fill: #212121;
  margin-right: 10px;
  margin-left: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-link {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-link {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-link:hover {
  color: #2196f3;
}

.phone-link:hover {
  color: #2196f3;
}

.envelope-link:hover svg {
  fill: #2196f3;
}

.phone-link:hover svg {
  fill: #2196f3;
}

.envelope-link:hover.phone-link:hover svg {
  fill: #2196f3;
}

/*HERO */
.hero {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//images/Img101.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/Img101.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #ffffff;
  font-family: Roboto;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.container-hero {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* VECTOR-LIST*/
.vectors {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-bottom: 30px;
}

/* FEACHERS */
.feachers {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 0;
}

.feacher-list {
  color: #757575;
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
}

.feacher-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.feacher-title {
  color: #212121;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.feacher-list-item {
  width: 270px;
}

.feacher-list-item:not(:last-child) {
  margin-right: 30px;
}

.container-feacher {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.feacher-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* WORK */
.work {
  background: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title,
.team-title {
  color: #212121;
}

.container-work {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.work-title {
  color: #212121;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.work-picture {
  margin: 0;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-list img {
  display: block;
}

.work-thumb {
  position: relative;
}

.work-text {
  position: absolute;
  width: 370px;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 82px;
  padding-right: 82px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* TEAM */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  text-align: center;
}

.team-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.name-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.name-text {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  width: 270px;
  height: 428px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.container-team {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* CUSTOMERS */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
  text-align: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers-item:hover .customers-link {
  border: 1px solid #2196f3;
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover svg,
.customers-item:focus svg {
  fill: #2196f3;
}

.customers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.picture {
  fill: #afb1b8;
}

/* SOCIAL-MEDIA*/
.media-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social:not(:last-child) {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover svg,
.social:focus svg {
  fill: #ffffff;
}

.social:hover .social-link {
  background: #2196f3;
}

.media-picture {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER MEDIA-LIST*/
.spysok {
  margin-left: 70px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-media-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social:not(:last-child) {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social:hover svg,
.footer-social:focus svg {
  fill: #ffffff;
}

.footer-social:hover .footer-social-link {
  background: #2196f3;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-media-picture {
  fill: #ffffff;
}

.kolonky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* FOOTER */
.address:hover, .address:focus {
  color: #2196f3;
  text-decoration: none;
}

.address {
  list-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}

.container-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-list {
  list-style: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.footer-link {
  list-style: none;
  font-style: normal;
  margin-top: 0;
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: #2196f3;
}

.footer-box {
  width: 231px;
}

/* Стилі для portfolio.html*/
.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eeeeee;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.flex-element:hover .tehno-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.tehno-text {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: 400;
  font-weight: 400l;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.names {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  list-style: none;
  margin-left: 24px;
  margin-right: 24px;
}

.text {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  margin-left: 24px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.button-p {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-p:hover, .button-p:focus {
  background: #2196f3;
  color: #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.link-a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-a:hover, .link-a:focus {
  color: #2196f3;
}

.address .link {
  list-style: none;
  font-style: normal;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link {
  display: block;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:not(:last-child) {
  margin-bottom: 9px;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.posters {
  text-decoration: none;
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.cross {
  fill: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
}

.close-btn:focus .cross {
  fill: #2196f3;
}

/* FORM */
.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-field input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field.check {
  margin: 0;
}

.form-field label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #212121;
}

.form-field input::-webkit-input-placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field input:-ms-input-placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field input::-ms-input-placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field input::placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field input[type='checkbox'] {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector21.svg);
}

.form-input[type='checkbox']:checked + .icon-check {
  background-image: url(../images/icon-check.svg);
}

.form-input {
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  outline: none;
}

.form-field {
  position: relative;
}

.form-input:focus {
  border-color: #2196f3;
}

.comment:focus {
  border-color: #2196f3;
}

.form-input:focus ~ .name-icon {
  fill: #2196f3;
}

.form-input:focus ~ .tel-icon {
  fill: #2196f3;
}

.form-input:focus ~ .mail-icon {
  fill: #2196f3;
}

.comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field label.form-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-field label.form-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-btn {
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.rools {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.name-icon {
  position: absolute;
  margin-left: 15px;
  -webkit-transform: translateY(-190%);
          transform: translateY(-190%);
  fill: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  position: absolute;
  margin-left: 14px;
  -webkit-transform: translateY(-190%);
          transform: translateY(-190%);
  fill: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  position: absolute;
  margin-left: 14px;
  -webkit-transform: translateY(-190%);
          transform: translateY(-190%);
  fill: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER-FORM */
.footer-form {
  width: 570px;
  height: 86px;
}

.footer-form-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-icon {
  margin-left: 13px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.footer-f input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.footer-f input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-f input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-f input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-f input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.third-col {
  margin-left: 93px;
}

.footer-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */