.burger-btn {
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-btn .mini-cross {
  display: none;
}

.burger-btn.is-open .mini-cross {
  display: block;
}

.burger-btn.is-open .mini-menu {
  display: none;
}
