/* CUSTOMERS */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $primary-white-color;
  text-align: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.customers-item {
  &:hover .customers-link {
    border: 1px solid $accent-color;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid $primary-grey-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item {
  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}

.customers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.picture {
  fill: $primary-grey-color;
}
