.feachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  .feacher-list {
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;

    .feacher-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
        display: flex;
        justify-content: space-between;
        &:nth-child(n + 1) {
          margin-right: 30px;
        }
      }

      .container-feacher {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 480px) {
          width: 480px;
        }
        @media screen and (min-width: 768px) {
          width: 768px;
        }
        @media screen and (min-width: 1600px) {
          width: 1600px;
        }
      }

      @include tablet {
        display: flex;
      }
    }

    .feacher-title {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $title-text-color;
      margin: 0;
      text-align: center;
    }

    .feacher-text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: $primary-text-color;
    }

    .vectors {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 120px;
      margin-bottom: 30px;
      background: $secondary-white-color;
      border-radius: 4px;

      @include tablet {
        width: 354px;
        height: 120px;
      }
    }
  }
}
