/* FOOTER-FORM */

.footer-form {
  width: 570px;
  height: 86px;
}

.footer-form-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;
}

.footer-btn {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  background: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-icon {
  margin-left: 13px;
  width: 24px;
  height: 24px;
  fill: $primary-white-color;
}

.footer-f input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.footer-f input {
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.third-col {
  margin-left: 93px;
}

.footer-f {
  display: flex;
}
