/* FOOTER */

.address {
  &:hover,
  &:focus {
    color: $accent-color;
    text-decoration: none;
  }
}

.address {
  list-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: $secondary-black-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  color: $title-text-color;
  font-family: Raleway, sans-serif;
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  align-self: center;
  margin-bottom: 20px;
}

.container-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-list {
  list-style: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.footer-link {
  list-style: none;
  font-style: normal;
  margin-top: 0;
  margin-top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-box {
  width: 231px;
}
