.footer {
  width: 100%;
  background: $secondary-black-color;

  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo-footer {
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      color: $title-text-color;
      text-decoration: none;
      margin-top: 60px;
      margin-bottom: 20px;
      .blue {
        color: $accent-color;
      }
      .white {
        color: $primary-white-color;
      }

      .address {
        display: inline-block;
        font-style: normal;
        list-style: none;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: $accent-color;
        }
      }
      .footer-list {
        list-style: none;
        font-style: normal;
        padding: 0;
        margin: 0;
      }
      .footer-link {
        list-style: none;
        font-style: normal;
        margin-top: 0;
        margin-top: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: $accent-color;
        }
      }
    }

    .spysok {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .footer-title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.1;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primary-white-color;
      margin: 0;
    }
    .footer-media-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
