.footer {
  width: 100%;
  background: $secondary-black-color;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $title-text-color;
  text-decoration: none;
  .blue {
    color: $accent-color;
  }
  .white {
    color: $primary-white-color;
  }
}
