/* FORM */

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-field.check {
  margin: 0;
}

.form-field label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: $title-text-color;
}

.form-field input::placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field input[type='checkbox'] {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector21.svg);
}

.form-input[type='checkbox']:checked + .icon-check {
  background-image: url(../images/icon-check.svg);
}

.form-input {
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  outline: none;
}

.form-field {
  position: relative;
}

.form-input {
  &:focus {
    border-color: $accent-color;
  }
}

.comment {
  &:focus {
    border-color: $accent-color;
  }
}

.form-input {
  &:focus ~ .name-icon {
    fill: $accent-color;
  }
}

.form-input {
  &:focus ~ .tel-icon {
    fill: $accent-color;
  }
}

.form-input {
  &:focus ~ .mail-icon {
    fill: $accent-color;
  }
}

.comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.form-field label.form-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.form-field label.form-txt {
  display: flex;
  align-items: center;
}

.form-btn {
  padding: 10px 55px 10px 56px;
  margin-top: 30px;

  background: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.rools {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.name-icon {
  position: absolute;
  margin-left: 15px;
  transform: translateY(-190%);
  fill: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  position: absolute;
  margin-left: 14px;
  transform: translateY(-190%);
  fill: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  position: absolute;
  margin-left: 14px;
  transform: translateY(-190%);
  fill: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
