html {
  box-sizing: border-box;
}

/* Стилі для index.html*/

body {
  background-color: $primary-white-color;
  color: $title-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: $primary-white-color;
}

.flex {
  display: flex;
  align-items: center;
}

/* HEADER*/

.page-header {
  background: $primary-white-color;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid $secondary-grey-color;
}

.adr-link {
  color: $title-text-color;
  font-style: normal;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.adr-list {
  display: flex;
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.adr-list .item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.main-nav {
  display: flex;
  align-items: center;
}
