.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: $primary-white-color;
  padding-left: 15px;
  padding-right: 15px;

  .logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $title-text-color;
    text-decoration: none;
    .blue {
      color: $accent-color;
    }
    .white {
      color: $title-text-color;
    }
  }
  .burger-btn {
    border: none;
    background: transparent;
    &:hover,
    &:focus {
      fill: $accent-color;
    }
    .mini-cross {
      display: none;
    }
  }
  
