/* Стилі для portfolio.html*/

.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element {
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.flex-element {
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.flex-element {
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.flex-element {
  &:hover .tehno-text {
    transform: translateY(0);
  }
}

.tehno-text {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);

  font-family: Roboto;
  font-style: 400;
  font-weight: 400l;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.names {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
  list-style: none;
  margin-left: 24px;
  margin-right: 24px;
}

.text {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  text-decoration: none;
  margin-left: 24px;
}

.filter-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.button-p {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: $secondary-white-color;
  border-radius: 4px;

  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $title-text-color;

  text-decoration: none;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-p {
  &:hover,
  &:focus {
    background: $accent-color;
    color: $primary-white-color;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.link-a {
  display: block;
  color: $primary-white-color;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: $primary-white-color;
}

.link-a {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address .link {
  list-style: none;
  font-style: normal;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link {
  display: block;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.posters {
  text-decoration: none;
}
