.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-white-color;
  text-align: center;
  width: 100%;

  .team-title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  .container-team {
    width: 100%;
    max-width: 450px;
    @include tablet {
      max-width: 100%;
    }
  }

  img {
    width: 100%;
  }

  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }
  }

  .team-item {
    width: 100%;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background: $primary-white-color;

    @include tablet {
      width: 354px;
      height: 536px;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }

    @include desktop {
      width: 270px;
      height: 428px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .people {
    width: 100%;

    @include tablet {
      width: 354px;
      height: 374px;
    }

    @include desktop {
      width: 270px;
      height: 260px;
    }
  }

  .name-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  .name-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }

  .media-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .social {
      margin-bottom: 24px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: $primary-grey-color;

      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        fill: $accent-color;
      }
      &:hover svg,
      &:focus svg {
        fill: $primary-white-color;
      }
    }

    .footer-social {
      &:hover .footer-social-link {
        background: $accent-color;
      }
    }

    .social {
      &:hover .social-link {
        background: $accent-color;
        fill: $primary-white-color;
      }
    }

    .social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .media-picture {
      fill: $primary-grey-color;
      &:hover {
        fill: $primary-white-color;
      }
    }
  }
}
