$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-black-color: #2f303a;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-white-color: #f5f4fa;
$secondary-grey-color: #ececec;
$primary-grey-color: #afb1b8;
